.profile-info{
    
}

.actions{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
    gap: 20px;
}


.actions button{
    padding: 10px 1px 10px 1px;
    width: 100px;
    background-color: black;
    border-radius: 4px;
    color: white;
    border: none;
    cursor: pointer;
}